<div class="container">
  <div class="row">
    <div class="title-holder">
      <h1>Welcome to eGrocery!</h1>
    </div>
    <div class="button-holder">
      <div class="btn btn-success"><%= link_to "Go shopping!", checkouts_new_path %></div>
    </div>
  </div>
</div>
